# CCXT
EXCHANGES='["bybit", "mexc", "gate", "kucoin", "kucoinfutures"]'
PROXIES='[""]'

# CONSUMER
QUEUE_ORDERBOOKS=orderbooks

# PUBLISHER
QUEUE_GROUPS=groups
MIN_LENGTH=50
TIMEOUT=10

# RMQ
RMQ_HOST=rmq
RMQ_PORT=5672
RMQ_USER=guest
RMQ_PASS=guest

# SECURITY
SECRET_KEY=super_secret_key
ALGORITHM=HS256
ALLOWED_HOSTS='["localhost","127.0.0.1","192.168.0.100"]'
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_MINUTES=10080
JWT_COOKIE_SECURE=False

# DB
AUTH_DB_TYPE=sqlite
AUTH_DB_USER=postgres
AUTH_DB_PASS=postgres
AUTH_DB_HOST=auth_db
AUTH_DB_PORT=5432
AUTH_DB_NAME=postgres
AUTH_SQLITE_PATH=database.db

ARB_DB_TYPE=sqlite
ARB_DB_USER=postgres
ARB_DB_PASS=postgres
ARB_DB_HOST=arb_db
ARB_DB_PORT=5432
ARB_DB_NAME=postgres
ARB_SQLITE_PATH=db.sqlite3
