# CCXT
EXCHANGES='["bybit", "mexc"]'
PROXIES='[""]'

# CONSUMER
QUEUE_ORDERBOOKS=orderbooks

# PUBLISHER
QUEUE_GROUPS=groups
MIN_LENGTH=50
TIMEOUT=10

# RMQ
RMQ_HOST=rmq
RMQ_PORT=5672
RMQ_USER=guest
RMQ_PASS=guest

# SECURITY
SECRET_KEY=super_secret_key
ALGORITHM=HS256
ALLOWED_HOSTS='["localhost","127.0.0.1"]'
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_MINUTES=10080

# DB
AUTH_DB_URL=sqlite+aiosqlite:///database.db
ARB_DB_URL=sqlite+aiosqlite:///db.sqlite3
